.checkout-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  padding: 20px;
}

.checkout-form,
.order-summary {
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
}

.checkout-form {
  flex: 2;
}

.order-summary {
  flex: 1;
  height: fit-content;
}

.checkout-form input,
.checkout-form select {
  width: 100%;
  padding: 12px;
  margin: 8px 0 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.order-summary h2 {
  margin-bottom: 20px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.order-total {
  font-size: 20px;
  margin-top: 15px;
}

#place-order-btn {
  width: 100%;
  padding: 12px;
  background: #05a2ba;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

#place-order-btn:hover {
  background: #04879b;
}
#continue-shopping-btn a {
  width: 100%;
  padding: 12px;
  background: #f0c14b;
  border: none;
  color: black;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

/* ----- RESPONSIVE ----- */
@media (max-width: 768px) {
  .checkout-container {
    flex-direction: column;
  }
}
