.product-link {
  text-decoration: none;
  color: inherit;
}

.product-card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.product-card:hover {
background-color: #74bdc9;
color: white;
/* box-shadow: 0 4px 8px rgba(0,0,0,0.2); */
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  max-width: 100%;
}

.controls input,
.controls select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
}

@media (min-width: 600px) {
  .controls {
    flex-direction: row;
    gap: 15px;
  }
  
  .controls input,
  .controls select {
    flex: 1;
  }
}

/* Product detail page */
.details-wrapper {
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.details-img {
  width: 350px;
  border-radius: 8px;
}

.details-info {
  max-width: 500px;
}

.add-to-cart-btn {
  background: #05a2ba;
  border: none;
  padding: 12px 18px;
  color: #fff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.add-to-cart-btn:hover {
  background: #04899e;
}
